@charset "utf-8";

@import url();;


@font-face {
    font-family: '#';
    src: url();
}
 :root {
    --cor0: #00d084;
    --cor1: #7bdcb5 ;
    --cor2: #fcb900;
    --cor3: #ff6900;
    --cor4: #cf2e2e;
    --cor5: #f78da7;
    --cor6: #ffffff ;
    --cor7: #000000; 
    --font-padrao:var(--cor0);
    --font-destaque:var(--cor0);
    --font-alternativa:var(--cor0);
}
 *{
    margin: 0px;
    padding: 0px;
    font-size: 26px;
    font-family: cursive;
}
body{
    background-color: lightgray;
}

header{
    min-height: 150px;
    text-align: center;
    background-color: var(--cor0);
    padding-top: 40px;
    border: 5px solid black;
}
 /*body > header > menu > ul > li > a {
    background-color: var(--cor3);
    color: var(--cor6);
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}
 body > header  > menu > ul > li {
    background-color: var(--cor0);
    padding: 5px;
    margin-left:20px ;
    display: block;
    display: inline-block;
    list-style-type: none;
}*/
i#burguer {
    background-color: rgba(25, 10, 10, 0.727);
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 10pt;
    cursor: pointer;
}
i#burguer:hover {
    background-color: #ffffff;
    color: #000000;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    background-color: rgb(87, 87, 87);
    color: #ffffff;
    text-decoration: none;
    border-top: 2px solid black;
}
menu > ul > li:hover {
    background-color: gray;
}
main {
    background-color: var(--cor1);
    max-width: 800px;
    min-width: 250px;
    margin: auto;
    border: 5px solid black;

}
main > article > a{
    padding: 10px;
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: var(--cor3);
    color: var(--cor6);
    margin-left: 150px;
}
main > article > h1 {
    margin-left: 170px;
    margin-top: 300px;
}
main > article > aside > a  {
    padding: 10px;
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: var(--cor3);
    color: var(--cor6);
}
 body > main > article > aside > a {
    margin-left: 150px;
}
body > main > p {
    margin-left: 20px;
    text-align: justify;
    display: block;
    margin-top: 200px;
}
 body > main > article > p {
     text-align: justify;
     display: block;
     margin-bottom: 50px;
    margin-left: 100px;
 }


body > main >  div#lot > img {
   max-width: 350px;
    height: 260px;
    display: block;
   /* margin-left: 630px;*/
    margin: auto;
   background-size: cover; 

}
body > main > article > div#lit{
   max-width: 350px;
    height: 260px;
    display: block;
   /* margin-left: 110px;*/
    margin: auto;
}
body > main > article > div#lut {
    max-width: 350px;
    height: 260px;
    display: block;
    margin-top: -670px;
    margin-bottom: 50px;
    position: absolute;
    margin-left: -50px;
/*   margin: auto;*/
}
main img {
    width: 100%;

}

main img.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

div#let{
    width: 350px;
    height: 260px;
    margin-top: 60px;
   margin-left: 70px;
   margin: auto;

}

 div#lit > img {
    width: 350px;
    height: 360px;
    margin-top: 60px;
    display: block;
    margin-right: 750px;

}

 body > main > article > div#lut  {
    border: 2px solid black;
   background-image: url(../imagens/salada.png);
    background-size: 100%;
    width: 600px;
    height: 300px;
    
    margin-left: 0px;
    margin-top: -950px;
   

}
div.video {
        background-color: var(--cor5);
        padding: 20px;
        margin: 0px -20px 30px -20px;
        padding-bottom: 50%;
        position: relative;
    }

    div.video>iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }
aside>ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    border: 5px solid rgb(233, 224, 224);
    background-color: #000000;
    padding: 150px;
    
}
body > footer > a{
    padding: 10px;
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: var(--cor3);
    color: var(--cor6);
    margin-left: 50px;
}
body > footer > h1 {
    padding: 10px;
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: var(--cor3);
    color: var(--cor6);
    margin-left: 10px;
}



